// Colors:
$primary-color: #120f0b;
$grey: #ccc;
$red: tomato;
$blue: lightblue;
$green: lightgreen;
$orange: orange;

//Fonts:
$font: monospace;

// Device screen width:
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px; 